{% if page.featured_image or page.featured_video_id %}
    <div class="topper">
        {% if page.featured_image %}
        <!--<span class="img" style="background-image: url('{{ page.featured_image }}');"> -->
        {% endif %}

        {% if page.featured_video_id %}
        
        <!-- <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
         -->
        
        {% endif %}
    </div>
{% endif %}

<div class="title-group">
    <h1 class="special">
        <span>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.data.global.title }}
        {% endif %}
        </span>
    </h1>
    {% if page.id %}
    <aside>
        <!-- {{ page.date | date: "%m.%d.%y" }} -->
        {{ page.date | date: "%F" }}
        {% if page.categories != empty %}
            &middot;
            {% for category in page.categories %}
                <span>{{ category }}</span>
            {% endfor %}
        {% endif %}
    </aside>
    {% endif %}
    <p class="lead">
        {% if page.lead_text %}
            {{ page.lead_text }}
        {% elsif post.lead_text %}
            {{ post.lead_text }}
        {% else %}
            {{ site.data.global.description }}
            <p>
                <a href="https://www.wolframalpha.com/" target="_blank">Math Alpha</a>, 
                <a href="https://studio.code.org/c/157018950/" target="_blank">My Game</a>,
                <a href="http://translate.google.com/#origin_language_or_auto|se|A house is not a home until it has a dog."     target="_blank">English-to-Swedish</a>,
                  <a href="assets/kidsmash/" target="_blank">Kid Smash</a>  
            </p>
        {% endif %}
    </p>
</div>
